* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #262333;
    padding: 1em;
    color:rgb(248, 248, 248);
    
    
}
main,header {
    padding: 1em;
}
.header-img {
    width: 100px;
    height:100px;
    border-radius: 50%;
    background-color: #444059;
}
article,header {
    width: 80vw;
    max-width: 520px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
    
}
header {
display: flex;
justify-content: center;
}
textarea {
    width: 100%;
    min-width:200px;
    resize: none;
    height: 100%;
    min-height: 220px;
   
}
input,textarea,.publish-btn {
    width: 100%;
    background-color: #444059;
    border: 0;
    padding: 1.5em;
    margin-top: 2em;
    border-radius: .5em;
    display: block;
    color:rgb(248, 248, 248);

}
button {
    
}
input:focus, textarea:focus {
    outline: 0;
}
.input-section {
    width: 100%;
   margin: 0 auto;
}
.input-seciton input {
    
}
.publish-btn {
    width: 100%; 
    border-radius: 1.5em;
    background-color: #FF0066;
}
.endorsements-section {
    margin-top: 1em;
    width: 100%;
    position: relative;
    margin-top: 2em;

}
.endorsements-section h2:after {
    content:"";
    width: 90%;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    height: 1px;
    margin-top: .2em;
    background-color:rgba(248, 248, 248, 0.664);
}
li {
    list-style: none;
    display: block;
    
}
.endorsements {
    margin-top: 1.5em;
    position: relative;
}
.endorsements li {
    position: relative;
    padding: 1.5em;
    margin: 0 auto;
    text-align: start;
    margin-top: 1em;
    width: 95%;
    font-size: 1rem;
    background-color: rgba(248, 248, 248, 0.541);
    color:rgba(0, 0, 0, 0.822);
}
.endorsements p {
    margin-bottom: 1em;
    font-size: 1.5em;
}
.endorsements h3 {
    font-size: 1em;

}
.arrows-container {
    width: 100%;
    display: flex;
    position: absolute;
    top:45%;
    transform: translateY(0%);
    justify-content: space-between;
}

span img {
    width: 25px;
}
#arrow-left {
    transform: rotate(180deg);
}
@media (min-width:700px) {
    .header-img {
        width: 120px;
        height: 120px;
    }
}
